<div class="gblog-container mat-elevation-z8">
  <div class="gblog-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Add Component</mat-card-title>
    </mat-card-header>
    <form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
      <mat-form-field class="gblog-full-width">
        <input matInput placeholder="Category Name" formControlName="catName"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!categoryForm.get('catName').valid && categoryForm.get('catName').touched">Please enter Category Name</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="gblog-full-width">
        <textarea matInput placeholder="Category Desc" formControlName="catDesc"
               [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!categoryForm.get('catDesc').valid && categoryForm.get('catDesc').touched">Please enter Category Description</span>
        </mat-error>
      </mat-form-field>
      <div class="gblog-button-row">
        <button type="submit" [disabled]="!categoryForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
      </div>
    </form>
  </mat-card>
</div>
