table {
  width: 100%;
}

.gblog-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

// adjust the styling for the select column so that its overflow is not hidden.
.mat-column-select {
  overflow: initial;
}

// Make selected checkbox same color as buttons.
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #673ab7;
}

.gblog-container {
  position: relative;
  padding: 5px;
}

// Limit height of table with added scroll bar.
.gblog-table-container {
  height: 300px;
  overflow: auto;
}

// Change cursor when it navigates over an icon used as a button.
.gblog-button {
  cursor: pointer;
  background-color: #673ab7;
}

.gblog-icon-button {
  cursor: pointer;
  color: #673ab7;
}
.gblog-table-row-buttons {
  justify-content: flex-end;
}

.gblog-full-width {
  width: 100%;
}

.gblog-full-width:nth-last-child(0) {
  margin-bottom: 10px;
}

.gblog-button-row {
  display: table-cell;
  margin: 10px 0;
}

.gblog-button.mat-flat-button {
  margin: 5px;
}

.gblog-button-row button {
  display: table-cell;
  margin-right: 8px;
}

html, body { height: 100%; }
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.error {
  background-color: red;
  color: white;    
}

.error button {
  background-color:orangered;
  color: white;
}

.gblog-test {
  background: rgb(0, 255, 128);
  color: black;    
}

// TODO: define styles
// I had to put something in the style. Would not allow blank.
.gblog-card {
  width: 100%;
}

.gblog-table {
  width: 100%;
}