<div class="gblog-container mat-elevation-z8">
  <div class="gblog-loading-shade"
        *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div *ngIf="!openForm" class="gblog-button-row">
    <button class="gblog-button" mat-flat-button color="primary" (click)="addRecord()"><mat-icon>add</mat-icon></button>
  </div>
  <mat-card *ngIf="openForm" class="gblog-card">
    <mat-card-header>
      <mat-card-title *ngIf="!isEditing">Add Category</mat-card-title>
      <mat-card-title *ngIf="isEditing">Edit Category</mat-card-title>
    </mat-card-header>
    <form [formGroup]="categoryForm" (ngSubmit)="saveRecord()">
      <mat-form-field class="gblog-full-width">
        <input matInput placeholder="Category" formControlName="name"
               [errorStateMatcher]="matcher">
        <mat-error>
          <span *ngIf="!categoryForm.get('name').valid && categoryForm.get('name').touched">Please enter Category</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="gblog-full-width">
        <textarea matInput placeholder="Description" formControlName="description"
               [errorStateMatcher]="matcher"></textarea>
        <mat-error>
          <span *ngIf="!categoryForm.get('description').valid && categoryForm.get('description').touched">Please enter Description</span>
        </mat-error>
      </mat-form-field>
      <div class="gblog-button-row">
        <button type="submit" [disabled]="!categoryForm.valid" mat-flat-button class="gblog-button"><mat-icon>save</mat-icon></button>
        <button type="button" mat-flat-button class="gblog-button" (click)="cancelForm()"><mat-icon>cancel</mat-icon></button>
      </div>
    </form>
  </mat-card>
  <div class="gblog-table-container mat-elevation-z8">
    <table mat-table [dataSource]="data" class="gblog-table"
            matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
      
      <!-- Selection Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Category Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <!-- Category Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>Description</th>
        <td mat-cell *matCellDef="let row">{{row.description}}</td>
      </ng-container>

      <!-- Action button column-->
      <ng-container matColumnDef="actionButtons">
        <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row">
            <i class="gblog-icon-button material-icons" (click)="editRecord(row)">edit</i>
            <i class="gblog-icon-button material-icons" (click)="deleteRecord(row)">delete</i>
          </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>